* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

body {
    font-size: 15px;
}

.main-container {
    padding: 0 20px;
}

.block {
    padding: 30px 0;
    &:nth-child(even) {
        background: #400040;
        color: #fff;
    }
    &:nth-child(odd) {
        background: #fff;
        color: #400040;
    }
    ol {
        li {
            &+li {
                margin-top: 10px;
            }
        }
    }
}